* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #f1f1f1;
}

#container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#board {
    background-color: #ffffff;
    box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1);
    margin: 10px auto;
}


#bar {
    background-color: #311b92;
    border-radius: 4px;
}
